body {
    font-size: 16px;
    background-image: url(../images/contact.jpg);
    opacity: 0.9;
    padding-bottom: 20px;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    }
    .navbar {
        margin-bottom: 10px;
      }
    h2 {
    text-align: center;
    text-decoration: underline;
    }
    form {
    width: 400px;
    background: rgba(127, 177, 224, 0.9);
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    margin: 50px auto 0;
    border-radius: 5px;
    }
    label {
    display: block;
    margin-bottom: 5px
    }
    label i {
    color: rgb(129, 36, 36);
    font-size: 80%;
    }
    input, select {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    }
    .row {
    padding-bottom: 10px;
    }
    .form-inline {
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 4px;
    }
    .form-inline label, .form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
    }
    .error {
    color: red;
    font-size: 90%;
    }
    input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    background: #006dcc;
    border-color: #016BC1;
    box-shadow: 0 3px 0 #0165b6;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    }
    input[type="submit"]:hover {
    background: #0165b6;
    }