.blogheader{
  font-size: 50px;
  color: rgba(37, 4, 6, 0.959);
}
.addblog{
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  margin-top: -50px;;
  font-size: 20px;
  color: rgba(37, 4, 6, 0.959);
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
  padding-top: 20px;
  font-weight: 400;
}
.marketing .col-lg-4 p {
  padding-top: 10px;
  margin-right: .75rem;
  margin-left: .75rem;
}